@import url("list.css");

.jimu-widget-filter-setting .collapse-option{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: auto;
}

.jimu-widget-filter-setting .collapse-option .collapse-tip{
  margin-left: 5px;
}

.jimu-rtl .jimu-widget-filter-setting .collapse-option .collapse-tip{
  margin-left: 0;
  margin-right: 5px;
}

html.hr .jimu-widget-filter-setting .items-list{
  width: 280px;
}

html.hr .jimu-widget-filter-setting > .content > .separator{
  left: 295px;
}

html.hr .jimu-widget-filter-setting .single-setting-content{
  width: 650px;
}

.jimu-widget-singlefilter-setting{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.jimu-widget-singlefilter-setting > table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.jimu-widget-singlefilter-setting > table > tbody > tr > td{
  padding: 5px 0;
}

.jimu-widget-singlefilter-setting .jimu-filter .allExpsBox{
  /*max-height: 300px;*/
  /* el locale */
  max-height: 270px;
  overflow: auto;
}

.jimu-widget-singlefilter-setting .click-picker{
  display: inline-block;
  border: 1px solid #D7D7D7;
  height: 24px;
  overflow: hidden;
  padding: 0 4px;
  cursor: pointer;
}

.jimu-widget-singlefilter-setting .click-picker .jimu-image-chooser{
  position: relative;
  top: 4px;
}

.jimu-widget-singlefilter-setting .click-picker .separator{
  position: relative;
  top: 4px;
  width: 1px;
  height: 16px;
  background-color: #D7D7D7;
  margin: 0 5px;
}

.jimu-widget-singlefilter-setting .click-picker .jimu-icon{
  position: relative;
  top: 8px;
}

.jimu-widget-filter-setting .single-setting-content .no-task-tip{
  position: relative;
  top: 50%;
  margin-top: -10px;
}

.jimu-widget-filter-setting .single-setting-content .no-task-tip span{
  font-weight: bold;
}

.jimu-widget-filter-setting .jimu-image-chooser .hint .display-image{
  width: 100% !important;
  height: 100% !important;
}